In [4]:
import pandas as pd 
import matplotlib.pyplot as plt 


weatherData=pd.read_csv('weather.csv')
weatherData

        Year  Month        City  Temperature  Humidity  Wind Speed  Rainfall
0       2021      7       Karaj         -9.0      73.0        12.3       0.0
1       2022      2     Isfahan         13.0      78.0        12.8       0.0
2       2021      9      Shiraz         -1.6      51.0        12.5       0.0
3       2023     12     Hamedan         43.6      39.0         9.8       0.0
4       2023     12  Kermanshah         39.4      55.0        13.0       0.0
...      ...    ...         ...          ...       ...         ...       ...
149995  2023     10         Qom         11.5      28.0        11.9       0.0
149996  2022      6  Kermanshah         20.4      21.0        22.9       0.0
149997  2021      9     Ardabil         13.7      35.0        20.6       0.0
149998  2021     10       Karaj        -10.4      24.0        14.0       0.0
149999  2023      4  Kermanshah         19.3      62.0        17.3       0.0

[150000 rows x 7 columns]

In [5]:
weatherData.shape

(150000, 7)