In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 


weatherData=pd.read_csv('weather.csv')

weatherData.head()

   Year  Month        City  Temperature  Humidity  Wind Speed  Rainfall
0  2021      7       Karaj         -9.0      73.0        12.3       0.0
1  2022      2     Isfahan         13.0      78.0        12.8       0.0
2  2021      9      Shiraz         -1.6      51.0        12.5       0.0
3  2023     12     Hamedan         43.6      39.0         9.8       0.0
4  2023     12  Kermanshah         39.4      55.0        13.0       0.0

In [5]:
weatherData.shape

(150000, 7)

In [3]:
weatherData

        Year  Month        City  Temperature  Humidity  Wind Speed  Rainfall
0       2021      7       Karaj         -9.0      73.0        12.3       0.0
1       2022      2     Isfahan         13.0      78.0        12.8       0.0
2       2021      9      Shiraz         -1.6      51.0        12.5       0.0
3       2023     12     Hamedan         43.6      39.0         9.8       0.0
4       2023     12  Kermanshah         39.4      55.0        13.0       0.0
...      ...    ...         ...          ...       ...         ...       ...
149995  2023     10         Qom         11.5      28.0        11.9       0.0
149996  2022      6  Kermanshah         20.4      21.0        22.9       0.0
149997  2021      9     Ardabil         13.7      35.0        20.6       0.0
149998  2021     10       Karaj        -10.4      24.0        14.0       0.0
149999  2023      4  Kermanshah         19.3      62.0        17.3       0.0

[150000 rows x 7 columns]

In [5]:
weatherData.describe()

,Year,Month,Temperature,Humidity,Wind Speed,Rainfall
count,150000.000000,150000.000000,148720.000000,147490.000000,146505.000000,143743.000000
mean,2022.001047,6.505400,15.031170,54.976642,12.475192,10.045106
std,0.817115,3.459799,17.331648,26.243239,7.230129,23.879449
min,2021.000000,1.000000,-15.000000,10.000000,0.000000,0.000000
25%,2021.000000,3.000000,-0.000000,32.000000,6.200000,0.000000
50%,2022.000000,7.000000,15.000000,55.000000,12.500000,0.000000
75%,2023.000000,10.000000,30.100000,78.000000,18.800000,0.000000
max,2023.000000,12.000000,45.000000,100.000000,25.000000,100.000000

In [7]:
weatherData['City'].value_counts()

City
Hamedan       10001
Tabriz         9958
Sanandaj       9906
Karaj          9884
Qom            9878
Kermanshah     9874
Isfahan        9842
Mashhad        9836
Ardabil        9833
Yazd           9805
Rasht          9779
Tehran         9763
Ahvaz          9728
Urmia          9703
Shiraz         9700
Name: count, dtype: int64

In [8]:
weatherData.isna().any()

Year           False
Month          False
City            True
Temperature     True
Humidity        True
Wind Speed      True
Rainfall        True
dtype: bool

In [9]:
weatherData.isna().sum()

Year              0
Month             0
City           2510
Temperature    1280
Humidity       2510
Wind Speed     3495
Rainfall       6257
dtype: int64

In [10]:
weatherData.isna().sum().sum()

16052

In [11]:
weatherData['City']=weatherData['City'].fillna('UnKnown')

In [12]:
weatherData.isna().sum()

Year              0
Month             0
City              0
Temperature    1280
Humidity       2510
Wind Speed     3495
Rainfall       6257
dtype: int64

In [13]:
weatherData.isna().sum().sum()

13542

In [16]:
weather_data_clean=weatherData.dropna(subset=['Temperature','Humidity','Rainfall'])

In [18]:
weather_data_clean.isna().sum()

Year              0
Month             0
City              0
Temperature       0
Humidity          0
Wind Speed     3278
Rainfall          0
dtype: int64

In [19]:
weather_data_clean.isna().sum().sum()

3278

In [25]:
Rainfall_Mean=weather_data_clean.groupby('City')['Rainfall'].mean().sort_values(ascending=False)
Rainfall_Mean

City
Qom           10.317962
Urmia         10.306699
Tabriz        10.277582
Ahvaz         10.253507
Mashhad       10.188598
Kermanshah    10.084150
Tehran        10.060142
Shiraz        10.011263
Karaj          9.996750
Sanandaj       9.976036
Yazd           9.955178
Isfahan        9.869164
Rasht          9.866663
Ardabil        9.688473
Hamedan        9.607857
Name: Rainfall, dtype: float64

In [26]:
Rainfall_Mean=weather_data_clean.groupby('City')['Rainfall'].mean().sort_values(ascending=True)
Rainfall_Mean

City
Hamedan        9.607857
Ardabil        9.688473
Rasht          9.866663
Isfahan        9.869164
Yazd           9.955178
Sanandaj       9.976036
Karaj          9.996750
Shiraz        10.011263
Tehran        10.060142
Kermanshah    10.084150
Mashhad       10.188598
Ahvaz         10.253507
Tabriz        10.277582
Urmia         10.306699
Qom           10.317962
Name: Rainfall, dtype: float64

In [29]:
Rainfall_Mean=weather_data_clean.groupby('City')['Rainfall'].mean().sort_values(ascending=False)[:5]
Rainfall_Mean

City
Qom        10.317962
Urmia      10.306699
Tabriz     10.277582
Ahvaz      10.253507
Mashhad    10.188598
Name: Rainfall, dtype: float64

In [28]:
Rainfall_Mean=weather_data_clean.groupby('City')['Rainfall'].mean().sort_values(ascending=True)[:5]
Rainfall_Mean

City
Hamedan    9.607857
Ardabil    9.688473
Rasht      9.866663
Isfahan    9.869164
Yazd       9.955178
Name: Rainfall, dtype: float64

In [30]:
weather_data_clean.groupby('Month')['Rainfall'].max()

Month
1     100.0
2     100.0
3     100.0
4     100.0
5     100.0
6      99.9
7     100.0
8     100.0
9     100.0
10    100.0
11    100.0
12    100.0
Name: Rainfall, dtype: float64

In [31]:
weather_data_clean.groupby('Month')['Rainfall'].min()

Month
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
Name: Rainfall, dtype: float64

In [32]:
weather_data_clean.groupby(['City','Year']).get_group(['Tehran','2022'])

ValueError: must supply a tuple to get_group with multiple grouping keys